<nav>
  <div class="navLogo">
    <% if (currentUser) { %>
      <a class="navLogo" href="/todos">Waypoint</a>
    <% } else { %>
      <a class="navLogo" href="/">Waypoint</a>
    <% } %>
  </div>
  <div class="navLinks">
    <div class="navPages">
      <% if (currentUser) { %>
        <!-- <a href="/todos">TODOS</a> -->
        <a href="/campsites">Sites</a>
      <% } %>
    </div>
    <div class="navAccount">
      <% if (currentUser) { %>
        <a class="navBtn" href="#"><%= currentUser.local.email %></a>
        <a class="navBtn" href="/logout">LOGOUT</a>
      <% } else { %>
        <a class="navBtn" href="/login">LOGIN</a>
        <a class="navBtn" href="/signup">SIGNUP</a>
      <% } %>
    </div>
  </div>
</nav>

<div class="flash">
  <% if (typeof message !== 'undefined') { %>
    <% if (typeof message.error !== 'undefined' && message.error.length > 0) { %>
      <div><%= message.error %></div>
    <% } %>
    <% if (typeof message.info !== 'undefined' && message.info.length > 0) { %>
      <div><%= message.info %></div>
    <% } %>
    <% if (typeof message.success !== 'undefined' && message.success.length > 0) { %>
      <div><%= message.success %></div>
    <% } %>
  <% } %>
</div>
