<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>

  <body>
    <header>
      <% include partials/header %>
    </header>

    <main>
      <h2>Login</h2>
        <form method="post" action="/login">
            <div class="input-field">
              <input type="text" name="email" id="email">
              <label for="email">Email</label>
            </div>
            <div class="input-field">
              <input type="password" name="password" id="password">
              <label for="email">Password</label>
            </div>

          <input class="btn green accent-4" type="submit">
        </form>
    </main>
  </body>
  <% include partials/scripts %>
</html>
