<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>

  <body class="container-fluid">
    <header>
      <% include partials/header %>
    </header>

    <main>
      <div class="jumbotron">
        <h1>Congrats! You have reached the <span style="color: red">SECRET</span> page</h1>
      </div>
    </main>
  </body>
  <% include partials/scripts %>
</html>
