<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>

  <body>
    <header>
      <% include partials/header %>
    </header>

    <main>
      <div class="inputForm">
        <div>
          <h2>Signup</h2>
        </div>
        <form method="post" action="/signup">
          <div class="input-field">
            <input class="input-field" type="text" name="email" id="email">
            <label for="email">Email</label>
          </div>
          <div class="input-field">
            <input class="input-field" type="password" name="password" id="password">
            <label for="email">Password</label>
          </div>

          <input class="btn green accent-4" type="submit">
        </form>
      </div>
    </main>
  </body>
  <% include partials/scripts %>
</html>
