<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <a href="/campsites/<%= campsite._id %>" class="btn btn-primary">Back</a>
    <button type="submit" class="btn btn-success">Save</button>
    <h3>EDIT</h3>

    <form class="campsite-form" action="/campsites/<%= campsite._id %>?_method=PUT" method="post">
      <% include _form %>
    </form>
  </main>

</body>
<% include ../partials/scripts %>
</html>
