<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="mapNav">
      <div class="searchOptions">
        <a href="/todos/new" class="btn btn-primary">New</a>
      </div>
      <div class="side-nav fixed campView">
        <% todos.forEach(function(todo) { %>
          <h4 class="test">
            <form method="POST" action="/todos/<%= todo._id %>?_method=DELETE">
              <a href="/todos/<%= todo._id %>">
                <%= todo.title %>
              </a>
              <button type="submit" class="btn-floating red">X</button>
            </form>
          </h4>
        <% }) %>
      </div>
    </div>
    <div class="mapView">

    </div>
  </main>
</body>
<% include ../partials/scripts %>
</html>
