<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="side-nav fixed campView">
      <% for(var i = 0; i < 20; i++) { %>
        <div class="test"></div>
      <% } %>
    </div>
    <div class="mapView">

    </div>
    <!-- <div>
      <h3>TODOs:</h3>
      <% todos.forEach(function(todo) { %>
        <h4>
          <form method="POST" action="/todos/<%= todo._id %>?_method=DELETE">
            <a href="/todos/<%= todo._id %>">
              <%= todo.title %>
            </a>
            <a href="/todos/<%= todo._id %>/toggle">
              <% if (todo.completed) { %>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              <% } else { %>
                <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
              <% } %>
            </a>
            <button type="submit" class="btn btn-xs btn-danger">Delete</button>
          </form>
        </h4>
      <% }) %>
    </div>
    <a href="/todos/new" class="btn btn-primary">New</a> -->
  </main>
</body>
<% include ../partials/scripts %>
</html>
